*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow: hidden;
}

body{
    background: rgb(116, 4, 4);
    color:white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

#menu{
    position: fixed;
   
    text-align: center;
    background: black;
}

#menu ul{
   
    background: black;
    
    
    padding: 0;
    list-style: none;
}
#menu ul li {
    display: inline-block;
}
#menu ul li a{
    display: block;
    color:white;
    padding: 25px;
    text-decoration:none ;
    
}



#menu ul li a:hover{ 
    color:black;
    background: white;
}

#arrow1{
    position: absolute;
    transform: rotate(90deg);
    width: 74px;
    height: 74px;
    
    
}
/*SECTION*/
section{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}


section:nth-of-type(2) {
    background-color: #001432;
}

section:nth-of-type(3) {
    background-color: #F04A63;
    
}
section:nth-of-type(4) {
    background-color: #09ad11;
    
}
section:nth-of-type(5) {
    background-color: #031e50;
    
}

/*arrow*/

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color:#fff;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left:2%;
    top: 500px
}

.adelante{
    right:2%;
    top: 500px
}

#imagen{
  
    width: 100%;
     height: 100vh;
}


/* Experience*/

.contenedor2{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor2 .card{
    width: 380px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background:white ;
    color:black;

}

.contenedor2 .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);

}

.contenedor2 .card img{
width: 320px;
height: 220px;
}

.contenedor2 .card h2{
    margin:10px;
    font-weight: 600;
}

.contenedor2 .card p{
    margin: 10px;
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contenedor2 .card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border:1px solid;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    color:#3498db;
    transition: all 400ms ease;
}


/*About*/
.contenedor3 {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background:white ;
    color:black;
    justify-content: center;
    align-items: center;
    

}
.contenedor3 div{
   flex-grow: 1;
 
   
}
.contenedor3 .foto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
   
    
    
}


.contenedor3 .info{

    height: 100%;
    width: 50%;
    background:rgb(255, 255, 255) ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
    
.contenedor3 .foto img{
    width: 200px;
    height: 300px;
    border-radius: 100px;
}   

.contenedor3 .info h2{
    margin:20px;
    border-bottom: 1px solid black; 
}

.contenedor3 .info h4{
    margin:10px;
}

.contenedor3 .info p{
    margin:5px;
    width: 50%;
}
